.video-card {
  background-color: var(--accent-color-dark);
  min-width: 20rem;
  max-width: 23rem;
}

.thumbnail--container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.thumbnail--container:hover img {
  opacity: 0.5;
}

.play--button {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.play--button svg {
  font-size: 2.5rem;
  color: var(--white);
}

.thumbnail--container:hover .play--button {
  display: block;
}

.video--duration {
  position: absolute;
  bottom: 0.2rem;
  right: 0;
  padding: 0.3rem;
  font-size: 0.7rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: 600;
}

.video--footer--container {
  display: grid;
  grid-template-columns: 3rem 14rem 1rem;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 0.4rem;
}

.video--card--content {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.video--card--title {
  font-weight: 700;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.video--card--creator,
.video--card--count {
  font-size: 0.7rem;
}
