.login--container {
  max-width: 25rem;
  padding: 2rem 1rem;
  background-color: var(--accent-color-dark);
  margin: 5rem auto;
  border-radius: 5px;
  box-shadow: 2px 3px 10px 0px rgb(0 0 0 / 20%);
}

.login--container .input--label {
  background-color: var(--accent-color-dark);
  color: var(--text-color);
}

.remember--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.input--container {
  max-width: 100%;
}

.input--primary .input {
  color: var(--text-color);
  border-color: var(--text-color);
}

.input--error .input {
  color: var(--error-color);
  border-color: var(--error-color);
}

.input--error--message {
  color: var(--error-color);
}

.input--container input + button {
  position: absolute;
  top: 0.9rem;
  right: 0.8rem;
}

.signup--name--container {
  display: flex;
}

.signup--name--container .input--container {
  margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
  .login--container {
    margin: 2rem;
  }
  .remember--container {
    flex-direction: column;
  }
}
