@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Pacifico&display=swap");

.dark--theme {
  --bg-color: #082032;
  --accent-color-dark: #2c394b;
  --accent-color-light: #334756;
  --primary--color: #ff4c29;
  --text-color: #d9d9d9;
}

body {
  font-family: "inter", sans-serif;
  background-color: var(--bg-color);
}

.App {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.container--100 {
  max-width: 100rem;
  margin: 0 auto;
}

.grid {
  gap: 2rem;
}
